      h2 { background-color: #A6B4DB; padding: 0.5em;}
      #products { border: solid 1pt #4859A7; width: 21em; float: left; padding: 2px;}
      #details { border: solid 1pt #4859A7; margin-left: 22em; padding: 2px;}
      #purchase { border: solid 1pt #4859A7; clear: both; margin-top: 1em; padding: 2px; }